
<ion-content [fullscreen]="true" style="display: flex; flex-direction: column">


  <ion-button *ngFor="let item of tema" expand="full" (click)="PlaySound(item.sound_id)">
    <img [src]="item.img_src" alt="" expand="full" >
  </ion-button>

  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button color="warning">
      <img  [src]="language.src" alt="">
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <img src="../../../assets/images/spain.png" alt="" (click)="CambiarIdioma('es')">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../../assets/images/portugal.png" alt="" (click)="CambiarIdioma('br')">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../../assets/images/united-kingdom.png" alt="" (click)="CambiarIdioma('en')">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <img [src]="theme.src" alt="">
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="CambiarTema(3)">
        <img src="../../../assets/images/cube-icon.png" alt="" >
      </ion-fab-button>
      <ion-fab-button color="light" (click)="CambiarTema(1)">
        <img src="../../../assets/images/paw-icon.png" alt="">
      </ion-fab-button>
      <ion-fab-button color="light" (click)="CambiarTema(2)">
        <img src="../../../assets/images/pallet-icon.png" alt="">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="presentAlert()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
